.cardContainer {
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    /* margin: auto; */
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 0px;
    border-radius: 15px;
    /* background: #676767; */
}

.cardHead {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: visible;
}

.cardTitle {
    margin-top: 20px;
    font-size: 30px;
}

.cardTitle span {
    font-weight: 900;
}

.underLine {
    border: 3px solid black;
    width: 120px;
    border-radius: 50px;
}

.cardBody {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 0px;
}

.cardPersonalTitle {
    font-size: 20px;
    margin-left: 10px;
}

.cardAddressTitle {
    font-size: 20px;
    margin-left: 90px;
}

.radioTitle {
    background: transparent;
}

.dropdowns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.provinceDropdown select,
.districtDropdown select {
    border: none;
    outline: none;
    height: 50px;
    width: 300px;
    color: #797979;
    font-size: 15px;
    border-radius: 10px;
    background-color: #eaeaea;
    padding-left: 36px;
    margin: 5px;
}


.toggleSlider {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;
}

.slider1 {
    margin-top: 40px;
}

.toggleSwitch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.toggleSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(22px);
}

.toggleText {
    margin-left: 10px;
}

.submitButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #45a049;
}